*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4D4D4D;
    color: #F5F5F7;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", Arial, sans-serif;
}

.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    gap: 8px;
}

.calculator{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    border-radius: 25px;
    border: 2px solid #FF9F0A;
    background-color: #242426;
    padding: 20px;
    width: 350px;
    min-height: 500px;
    color: #F5F5F7;
}

.buttons {
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(4, 64px);
    gap: 10px;
    justify-content: center;
}

.buttons button{
    width: 64px;
    height: 64px;
    border-radius: 30%;
    font-size: 20px;
    border: 2px solid #FF9F0A;
}

.display{
    padding: 8px;
    height: 50px;
    font-size: 50px;
}
